.footerBase{
  display:flex;
  justify-content:space-between;
  padding: 1rem 1.5rem;
  color: white;
  background-color: rgba(5, 40, 60, 0.7);
  flex-wrap: wrap;
}


.footerBase > div{
  max-width: 20rem;
}


@media (max-width: 768px){
  .footerBase{
    flex-direction: column;
    align-items:center;
  }

  .footerBase div{
    border-top: 1px solid orange;;
    /* border-bottom: 1px solid white; */
    display:block;
    padding: 1rem 0;
    width:100%
  }
 
}