*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family: roboto, sans-serif, aria;
    color: white;
  }
  
  body {
      background-image: url(./Media_File/image.jpg);
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
      min-height:100vh;     
  }
  
  
  .base{
    padding:1rem;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    /* min-height:100vh; */
  }